{% extends 'base.html' %}
{% block content %}
<div class="container">
    <div class="row pt-2 pb-2 container">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Name of the hotel</th>
                    <th scope="col" style="text-align: center;">Number of adults</th>
                    <th scope="col" style="text-align: center;">Number of children</th>
                    <th scope="col">Total value of the position, $</th>
                </tr>
            </thead>
            <tbody>
            {% for order_trip in cart %}
                <tr>
                    <td>{{ order_trip.trip.hotel }}, {{ order_trip.trip.country }}</td>
                    <td style="vertical-align: middle; text-align: center; padding-left: 0;">
                        <div style="display: inline-flex; align-items: center;">
                            <form method="post" action="{{ url_for('quantity_adult_decrease') }}"
                                  style="margin: 0 5px;">
                                <input type="number" name="trip_id" value="{{order_trip.trip.id}}" hidden="">
                                <button type="submit" class="btn btn-light">⬇</button>
                            </form>
                            <span>{{ order_trip.adults_quantity }}</span>
                            <form method="post" action="{{ url_for('quantity_adult_increase') }}"
                                  style="margin: 0 5px;">
                                <input type="number" name="trip_id" value="{{order_trip.trip.id}}" hidden="">
                                <button type="submit" class="btn btn-light">⬆</button>
                            </form>
                        </div>
                    </td>
                    <td style="vertical-align: middle; text-align: center; padding-left: 0;">
                        <div style="display: inline-flex; align-items: center;">
                            <form method="post" action="{{ url_for('quantity_children_decrease') }}"
                                  style="margin: 0 5px;">
                                <input type="number" name="trip_id" value="{{order_trip.trip.id}}" hidden="">
                                <button type="submit" class="btn btn-light">⬇</button>
                            </form>
                            <span>{{ order_trip.children_quantity }}</span>
                            <form method="post" action="{{ url_for('quantity_children_increase') }}"
                                  style="margin: 0 5px;">
                                <input type="number" name="trip_id" value="{{order_trip.trip.id}}" hidden="">
                                <button type="submit" class="btn btn-light">⬆</button>
                            </form>
                        </div>
                    </td>
                    <td>
                        <div style="display: inline-flex; align-items: center;">
                        {{ order_trip.cost|round(2) }}
                            <form method="post" action="{{ url_for('delete_people_quantity') }}" style="margin: 0 5px;">
                                <input type="number" name="trip_id" value="{{order_trip.trip.id}}" hidden="">
                                <button type="submit" class="btn btn-light">&#x274C;</button>
                            </form>
                        </div>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
