{% extends 'base.html' %}
{% block content %}
<form method="post">
    <div class="mb-3">
        <label for="exampleName" class="form-label">Name</label>
        <input type="text" class="form-control" id="exampleName" required minlength="2" name="name">
    </div>
    <div class="mb-3">
        <label for="exampleSurname" class="form-label">Surname</label>
        <input type="text" class="form-control" id="exampleSurname" required minlength="2" name="surname">
    </div>
    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Email address</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" required
               name="email">
    </div>
    <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Password</label>
        <input type="password" class="form-control" id="exampleInputPassword1" required minlength="8" name="password">
        <div id="emailHelp" class="form-text">
            We will never share your email address and password with anyone else.
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
{% endblock %}
